@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
    margin: 10px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;

}

body{

    background: hsl(205, 67%, 10%);
    color: #ededed;
}
.header{

    position: fixed;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 10%;
    padding: 20px 10%;
    background-color: hsl(205, 67%, 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{

    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
   
}
.navbar a:hover,
.navbar a.active {


    color: #00abf0;
 
    

}
.home{
    
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;




}
.home-content{
 
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px;
    margin: 30px 0 40px;
    line-height: 1.2;
   
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between  ;
    width: 345px;
    height: 25px;
   

}

.btn-box a{
    position: relative;
    display: inline-flex;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
    
}

.btn-box a:nth-child(2)::before{

    background: #00abf0;
}


.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover:before{
    width: 100%;
}
.home-sci{
    position: relative; 
    bottom: 40px;
    height: 230px;
    display: flex;
    color: #00abf0;
    z-index: 1;
}
.home-sci a{
    position: relative;
    top: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;  
    border-radius: 50%; 
    text-decoration: none; 
    font-size: 30px;
    color: #00abf0;
    overflow: hidden;
    transition: .5s;
    
}
.home-sci a:hover{
    color: #081b29;
}
 .newlogo{
    position:absolute;
    right: 60px;
    top: 250px;
    display: flex;
    align-items: center;
    
 }
 .newlogocircle{
    width: 235px;
    height: 305px;
    position: absolute;
    right: 65px;
    top: 250px;
    z-index: 100;
    background: transparent;
    transition: 1s;
    display: flex;
    
    
 }
 .newlogocircle:hover{
    cursor: pointer;
    background: #081b2988; 
    

}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;    


}
.home-sci a:hover::before{
    width: 100%;
} 

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}

.inline{
    width: 10px;
    display: flex;
}
.inline div{
    
    border: 2px solid #00abf0;
}

.inline div:nth-child(2){
    width: 100px;
}
.about{
    position: relative;
    top: 150px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;




}
.container{
 
    max-width: 600px;
}


.container h2{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.container p{
    font-size: 16px;
    margin: 0;
    line-height: 1.1;
   
}
.services{
    position: relative;
    top: 350px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}
.contact{
    position: relative;
    top: 450px;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;

}
#name{
    background: #00abf0;
}
#email{

    background: #00abf0;

}
#message{
    background: #00abf0;

}
.container form div label{
        font-size: 20px;
        font-weight: 700;
        color: #00abf0;
        

}
.container  div h3{
    font-size: 20px;
    font-weight: 700;
    color: #00abf0;
    
}
.container  div p{

    font-size: 20px;
    margin: 30px 0 40px;
    line-height: 1.2;
   
}